<mat-card>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <textarea matInput row="6" [(ngModel)]="enterdValue">
        </textarea>
        </mat-form-field>
        <button mat-raised-button (click)="onAddPost()" color="primary">
            Save post
        </button>
    </mat-card-content>
</mat-card>


<!-- property bining below -->

<!-- <textarea row="6"  [value]="newPost" #postInput>
</textarea> -->

<!-- <textarea row="6" [value]="'test'">
</textarea>
<textarea row="6" [value]="newPost">
</textarea> -->

<hr>

<!--  event binding  (click)="onAddPost()" -->
<p>{{newPost}}</p>