mat-form-field {
  margin: auto;
  width: 100%;
}

mat-card,
button {
  text-align: center;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
