<mat-card>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" [(ngModel)]="enteredTitle">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput row="6" [(ngModel)]="enteredContent">
        </textarea>
        </mat-form-field>
        <button mat-raised-button (click)="onAddPost()" color="primary">
            Save post
        </button>
    </mat-card-content>
</mat-card>
<br>
<br>


<!-- property bining below -->

<!-- <textarea row="6"  [value]="newPost" #postInput>
</textarea> -->

<!-- <textarea row="6" [value]="'test'">
</textarea>
<textarea row="6" [value]="newPost">
</textarea> -->

<!-- <hr> -->

<!--  event binding  (click)="onAddPost()" -->
<!-- <p>{{newPost}}</p> -->