<mat-card>
    <mat-card-content>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput name="password" ngModel type="password" placeholder="password" #passwordInput="ngModel"
                    required>
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit">Save Post</button>
        </form>
    </mat-card-content>
</mat-card>